In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_file.csv')

In [3]:
df.head()

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
2,3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132
3,4,2017,Pennsylvania,1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",104.0,Male,Asian,4,"(40.79373015200048, -77.86070029399963)",H49,2,2,0,State,3.4554
4,5,2007,"San Francisco, CA",1,Ever took steroids without a doctor's prescrip...,"pills or shots, one or more times during their...",100.0,Female,Multiple Race,4,"(37.77493, -122.419416)",H55,1,7,0,Local,0.0000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55399 entries, 0 to 55398
Data columns (total 17 columns):
Patient_ID                  55399 non-null int64
YEAR                        55399 non-null int64
LocationDesc                55399 non-null object
Subtopic                    55399 non-null int64
Greater_Risk_Question       55399 non-null object
Description                 55399 non-null object
Sample_Size                 55399 non-null float64
Sex                         55399 non-null object
Race                        55399 non-null object
Grade                       55399 non-null int64
GeoLocation                 52098 non-null object
QuestionCode                55399 non-null object
StratID1                    55399 non-null int64
StratID2                    55399 non-null int64
StratID3                    55399 non-null int64
StratificationType          55399 non-null object
Greater_Risk_Probability    55399 non-null float64
dtypes: float64(2), int64(7), object(8)
memory usage: 7.2+ MB

In [5]:
df.drop(columns=['GeoLocation'], inplace=True)

In [8]:
df.describe(include='all')

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
count,55399.000000,55399.000000,55399,55399.000000,55399,55399,55399.000000,55399,55399,55399.000000,55399,55399.000000,55399.000000,55399.000000,55399,55399.000000
unique,NaN,NaN,91,NaN,20,20,NaN,3,8,NaN,20,NaN,NaN,NaN,5,NaN
top,NaN,NaN,United States,NaN,Currently used marijuana,"also called grass, pot, or weed, one or more t...",NaN,Total,Total,NaN,H48,NaN,NaN,NaN,State,NaN
freq,NaN,NaN,2276,NaN,4421,4421,NaN,22057,22252,NaN,4421,NaN,NaN,NaN,31878,NaN
mean,27700.000000,2007.674308,NaN,0.747270,NaN,NaN,566.206339,NaN,NaN,2.238488,NaN,0.897327,2.718479,1.708695,NaN,24.365664
std,15992.458118,6.906621,NaN,0.434581,NaN,NaN,1148.727489,NaN,NaN,1.494005,NaN,0.826494,2.516150,1.448596,NaN,20.492551
min,1.000000,1991.000000,NaN,0.000000,NaN,NaN,50.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,NaN,0.000000
25%,13850.500000,2003.000000,NaN,0.000000,NaN,NaN,165.000000,NaN,NaN,1.000000,NaN,0.000000,0.000000,0.000000,NaN,8.280050
50%,27700.000000,2009.000000,NaN,1.000000,NaN,NaN,275.000000,NaN,NaN,2.000000,NaN,1.000000,3.000000,2.000000,NaN,17.555600
75%,41549.500000,2013.000000,NaN,1.000000,NaN,NaN,560.500000,NaN,NaN,4.000000,NaN,2.000000,6.000000,3.000000,NaN,35.430750
max,55399.000000,2017.000000,NaN,1.000000,NaN,NaN,53664.000000,NaN,NaN,4.000000,NaN,2.000000,7.000000,4.000000,NaN,99.449400

In [18]:
Greater_Risk_Question = df.Greater_Risk_Question.unique()
Greater_Risk_Question

array(['Ever used cocaine', 'Currently drank alcohol',
       'Had their first drink of alcohol before age 13 years',
       "Ever took steroids without a doctor's prescription",
       'Ever used inhalants',
       'Were offered, sold, or given an illegal drug on school property',
       'Ever used marijuana', 'Ever used heroin', 'Ever drank alcohol',
       'Currently used marijuana', 'Ever used synthetic marijuana',
       'Tried marijuana for the first time before age 13 years',
       'Ever used methamphetamines', 'Ever injected any illegal drug',
       'Ever used ecstasy',
       'Reported 10 or more as the largest number of drinks they had in a row',
       'Usually got the alcohol they drank by someone giving it to them',
       "Ever took prescription pain medicine without a doctor's prescription or differently than how a doctor told them to use it",
       'Ever used hallucinogenic drugs',
       'Reported current binge drinking'], dtype=object)

In [21]:
for i in Greater_Risk_Question:
    print(len(df.loc[df.Greater_Risk_Question == i, 'Description'].unique()))
    print(i)
    print(df.loc[df.Greater_Risk_Question == i, 'Description'].unique())

1
Ever used cocaine
['any form of cocaine, such as powder, crack, or freebase, one or more times during their life']
1
Currently drank alcohol
['at least one drink of alcohol, on at least 1 day during the 30 days before the survey']
1
Had their first drink of alcohol before age 13 years
['other than a few sips']
1
Ever took steroids without a doctor's prescription
['pills or shots, one or more times during their life']
1
Ever used inhalants
['sniffed glue, breathed the contents of aerosol spray cans, or inhaled any paints or sprays to get high, one or more times during their life']
1
Were offered, sold, or given an illegal drug on school property
['during the 12 months before the survey']
1
Ever used marijuana
['also called grass, pot, or weed, one or more times during their life']
1
Ever used heroin
['also called "smack," "junk," or "China White," one or more times during their life']
1
Ever drank alcohol
['at least one drink of alcohol, on at least 1 day during their life']
1
Currently used marijuana
['also called grass, pot, or weed, one or more times during the 30 days before the survey']
1
Ever used synthetic marijuana
['also called "K2," "Spice," "fake weed," "King Kong," "Yucatan Fire," "Skunk," or "Moon Rocks," one or more times during their life']
1
Tried marijuana for the first time before age 13 years
['also called grass, pot, or weed']
1
Ever used methamphetamines
['also called "speed," "crystal," "crank," or "ice," one or more times during their life']
1
Ever injected any illegal drug
['used a needle to inject any illegal drug into their body, one or more times during their life']
1
Ever used ecstasy
['also called "MDMA," one or more times during their life']
1
Reported 10 or more as the largest number of drinks they had in a row
['within a couple of hours, during the 30 days before the survey']
1
Usually got the alcohol they drank by someone giving it to them
['during the 30 days before the survey, among students who currently drank alcohol']
1
Ever took prescription pain medicine without a doctor's prescription or differently than how a doctor told them to use it
['counting drugs such as codeine, Vicodin, Oxycontin, Hydrocodone, and Percocet, one or more times during their life']
1
Ever used hallucinogenic drugs
['such as LSD, acid, PCP, angel dust, mescaline, or mushrooms, one or more times during their life']
1
Reported current binge drinking
['four or more drinks of alcohol in a row (if they were female) or five or more drinks of alcohol in a row (if they were male), within a couple of hours, on at least 1 day during the 30 days before the survey']

In [23]:
df.drop(columns=['Description'], inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55399 entries, 0 to 55398
Data columns (total 15 columns):
Patient_ID                  55399 non-null int64
YEAR                        55399 non-null int64
LocationDesc                55399 non-null object
Subtopic                    55399 non-null int64
Greater_Risk_Question       55399 non-null object
Sample_Size                 55399 non-null float64
Sex                         55399 non-null object
Race                        55399 non-null object
Grade                       55399 non-null int64
QuestionCode                55399 non-null object
StratID1                    55399 non-null int64
StratID2                    55399 non-null int64
StratID3                    55399 non-null int64
StratificationType          55399 non-null object
Greater_Risk_Probability    55399 non-null float64
dtypes: float64(2), int64(7), object(6)
memory usage: 6.3+ MB

In [27]:
### label encoding
### LocationDesc, Greater_Risk_Question, Sex, Race, QuestionCode, StratificationType
df_encoded = df.copy()

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from collections import defaultdict
d = defaultdict(LabelEncoder)

encoders = {}
for clm in ['LocationDesc', 'Greater_Risk_Question', 'Sex', 'Race', 'QuestionCode', 'StratificationType']:
    le = LabelEncoder()
    df_encoded[clm] = le.fit_transform(df_encoded[clm])
    encoders[clm] = le
df_encoded.head()

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Sample_Size,Sex,Race,Grade,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,32,1,6,335.0,0,3,4,9,1,4,0,0,7.4793
1,2,1997,32,0,0,382.0,2,2,4,2,0,3,0,0,49.6852
2,3,1993,54,0,14,196.0,0,7,0,1,1,6,2,3,47.8132
3,4,2017,71,1,6,104.0,1,1,4,9,2,2,0,3,3.4554
4,5,2007,77,1,5,100.0,0,4,4,15,1,7,0,0,0.0000

In [ ]:
df_